<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.appogg.website.mapper.OggArticleMapper" >
  <resultMap id="BaseResultMap" type="com.appogg.website.entity.OggArticle" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="create_date_time" property="createDateTime" jdbcType="TIMESTAMP" />
    <result column="modify_date_time" property="modifyDateTime" jdbcType="TIMESTAMP" />
    <result column="article_title_icon" property="articleTitleIcon" jdbcType="VARCHAR" />
    <result column="article_title_name" property="articleTitleName" jdbcType="VARCHAR" />
    <result column="article_auth_id" property="articleAuthId" jdbcType="INTEGER" />
    <result column="article_classify_group" property="articleClassifyGroup" jdbcType="VARCHAR" />
    <result column="article_summary" property="articleSummary" jdbcType="VARCHAR" />
    <result column="create_user_id" property="createUserId" jdbcType="INTEGER" />
    <result column="modiry_user_id" property="modiryUserId" jdbcType="INTEGER" />
    <result column="is_delete" property="isDelete" jdbcType="TINYINT" />
    <result column="read_num" property="readNum" jdbcType="INTEGER" />
    <result column="comment_num" property="commentNum" jdbcType="INTEGER" />
    <result column="is_sticky" property="isSticky" jdbcType="TINYINT" />
    <result column="is_fine" property="isFine" jdbcType="TINYINT" />
    <result column="helpful_num" property="helpfulNum" jdbcType="INTEGER" />
    <result column="unhelpful_num" property="unhelpfulNum" jdbcType="INTEGER" />
    <result column="article_content" property="articleContent" jdbcType="LONGVARCHAR" />
  </resultMap>
</mapper>