<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.appogg.website.mapper.OggNeedMapper" >
  <resultMap id="BaseResultMap" type="com.appogg.website.entity.OggNeed" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="create_date_time" property="createDateTime" jdbcType="TIMESTAMP" />
    <result column="modify_date_time" property="modifyDateTime" jdbcType="TIMESTAMP" />
    <result column="need_title_name" property="needTitleName" jdbcType="VARCHAR" />
    <result column="create_user_id" property="createUserId" jdbcType="INTEGER" />
    <result column="create_user_name" property="createUserName" jdbcType="VARCHAR" />
    <result column="modify_user_id" property="modifyUserId" jdbcType="INTEGER" />
    <result column="modify_user_name" property="modifyUserName" jdbcType="VARCHAR" />
    <result column="answer_num" property="answerNum" jdbcType="INTEGER" />
    <result column="is_solved" property="isSolved" jdbcType="TINYINT" />
    <result column="read_num" property="readNum" jdbcType="INTEGER" />
    <result column="is_delete" property="isDelete" jdbcType="TINYINT" />
    <result column="is_fine" property="isFine" jdbcType="TINYINT" />
    <result column="is_sticky" property="isSticky" jdbcType="TINYINT" />
    <result column="helpful_num" property="helpfulNum" jdbcType="INTEGER" />
    <result column="unhelpful_num" property="unhelpfulNum" jdbcType="INTEGER" />
    <result column="need_classify_group" property="needClassifyGroup" jdbcType="VARCHAR" />
    <result column="need_content" property="needContent" jdbcType="LONGVARCHAR" />
  </resultMap>
</mapper>